.main{
    background: rgba(236,241,101,1);
    background: -moz-linear-gradient(left, rgba(236,241,101,1) 0%, rgba(236,241,101,1) 54%, rgba(254,201,67,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,241,101,1)), color-stop(54%, rgba(236,241,101,1)), color-stop(100%, rgba(254,201,67,1)));
    background: -webkit-linear-gradient(left, rgba(236,241,101,1) 0%, rgba(236,241,101,1) 54%, rgba(254,201,67,1) 100%);
    background: -o-linear-gradient(left, rgba(236,241,101,1) 0%, rgba(236,241,101,1) 54%, rgba(254,201,67,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,241,101,1) 0%, rgba(236,241,101,1) 54%, rgba(254,201,67,1) 100%);
    background: linear-gradient(to right, rgba(236,241,101,1) 0%, rgba(236,241,101,1) 54%, rgba(254,201,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf165', endColorstr='#fec943', GradientType=1 );
}
.whiteList{
    background: rgba(255,255,255,255);
    background: -moz-linear-gradient(left, rgba(255,255,255,255) 0%, rgba(255.255.255.255) 54%, rgba(254,201,67,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255.255.255.255)), color-stop(54%, rgba(255.255.255.255)), color-stop(100%, rgba(254,201,67,1)));
    background: -webkit-linear-gradient(left, rgba(255.255.255.255) 0%, rgba(255.255.255.255) 54%, rgba(254,201,67,1) 100%);
    background: -o-linear-gradient(left, rgba(255.255.255.255) 0%, rgba(255.255.255.255) 54%, rgba(254,201,67,1) 100%);
    background: -ms-linear-gradient(left, rgba(255.255.255.255) 0%, rgba(255.255.255.255) 54%, rgba(254,201,67,1) 100%);
    background: linear-gradient(to right, rgba(255.255.255.255) 0%, rgba(255.255.255.255) 54%, rgba(254,201,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf165', endColorstr='#fec943', GradientType=1 );
}
.partSpec {

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,237,12,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(245,237,12,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,237,12,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,237,12,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,237,12,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,237,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5ed0c', GradientType=1 );
}